# packaging
pip>=9
setuptools>=26
twine ?
wheel>=0.29

# data science
numpy
pandas
# scikit-learn ?
tensorflow
pillow

# tests/linter
# black ?
# coverage ?
# flake8 ?
# pytest ?
# yapf ?

# API
gcsfs
google-cloud-storage
mlflow
s3fs ?

# utilities
six>=1.14 ?
joblib
memoized-property
streamlit

# git+https://github.com/Giovita/xray-exam-diagnosis-cnn.git@create_dataset_method#egg=package-two
